Source: o2sms
Section: perl
Priority: optional
Build-Depends: debhelper (>= 9)
Maintainer: David McNamara <me@mackers.com>
Uploaders: Barak A. Pearlmutter <bap@debian.org>
Standards-Version: 3.9.3
Homepage: http://o2sms.sourceforge.net/
Vcs-Git: git://git.debian.org/git/collab-maint/o2sms.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/o2sms.git
Build-Depends-Indep: libcrypt-ssleay-perl, libio-socket-ssl-perl,
 libnet-ssleay-perl, liburi-perl (>= 1.26), perl

Package: o2sms
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libcrypt-ssleay-perl,
 libio-socket-ssl-perl, libnet-ssleay-perl,
 libtestgen4web-runner-perl (>= 0.11-1), liburi-perl (>= 1.26)
Description: A module to send SMS messages using .ie websites
 WWW::SMS::IE::iesms is a module to send SMS messages via the command line
 using the websites of Irish mobile operators. This is done by simulating a web
 browser's interaction with those websites. This module requires a valid web
 account with O2 Ireland, Vodafone Ireland, Meteor Ireland, or eMobile Ireland.
